html, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #585858;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

header.top-header {
  height: 61px;
  border-bottom: 1px solid #eee;
}

header.top-header > nav {
  height: 61px;
}

header.top-header > nav > .header-menu {
  height: 61px;
}

header.top-header > nav > .header-menu li {
  height: 61px;
  line-height: 61px;
  float: left;
}

header.top-header > nav > .header-menu li .img-logo {
  margin-left: 20px;
  margin-top: 16px;
  margin-right: 20px;
}

header.top-header > nav > .header-menu li > a {
  height: 61px;
  display: inline-block;
}

header.top-header > nav > .header-menu.header-menu-left {
  float: left;
}

header.top-header > nav > .header-menu.header-menu-left li {
  padding: 0 8px;
}

header.top-header > nav > .header-menu.header-menu-right {
  float: right;
}

header.top-header > nav > .header-menu.header-menu-right li > a {
  padding: 0 8px;
}

header.top-header > nav > .header-menu.header-menu-right > .right-sub-menu {
  float: left;
}

header.top-header > nav > .header-menu.header-menu-right > .header-right-menu1 {
  margin-right: 20px;
}

.main-search-container {
  position: relative;
  width: 100%;
  height: 678px;
  background-color: #cbd5c4;
}

.main-search-container > .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_search_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-search-container > .img-hyeri {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_search_img.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}
