html, body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #585858;
}

ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}

header.top-header {
  height: 61px;
  border-bottom: 1px solid #eee;
}

header.top-header > nav {
  height: 61px;
}

header.top-header > nav > .header-menu {
  height: 61px;
}

header.top-header > nav > .header-menu li {
  height: 61px;
  line-height: 61px;
  float: left;
}

header.top-header > nav > .header-menu li .img-logo {
  margin-left: 20px;
  margin-top: 16px;
  margin-right: 20px;
}

header.top-header > nav > .header-menu li > a {
  height: 61px;
  display: inline-block;
}

header.top-header > nav > .header-menu.header-menu-left {
  float: left;
}

header.top-header > nav > .header-menu.header-menu-left li {
  padding: 0 8px;
}

header.top-header > nav > .header-menu.header-menu-right {
  float: right;
}

header.top-header > nav > .header-menu.header-menu-right li > a {
  padding: 0 8px;
}

header.top-header > nav > .header-menu.header-menu-right > .right-sub-menu {
  float: left;
}

header.top-header > nav > .header-menu.header-menu-right > .header-right-menu1 {
  margin-right: 20px;
}

.main-search-container {
  position: relative;
  width: 100%;
  height: 678px;
  background-color: #cbd5c4;
}

.main-search-container > .img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_search_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
}

.main-search-container > .img-hyeri {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/main_search_img.png");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main-search-container > .input-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-search-container > .input-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 110px;
  padding-top: 30px;
  box-sizing: border-box;
}

.main-search-container > .input-container > input, .main-search-container > .input-container button {
  float: left;
  height: 50px;
  border: none;
  box-sizing: border-box;
}

.main-search-container > .input-container > input {
  width: 434px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.main-search-container > .input-container > button {
  width: 100px;
  font-size: 15px;
  background-color: #3b8de0;
  color: white;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  cursor: pointer;
  transition-duration: 0.1s;
}

.main-search-container > .input-container > button:hover {
  background-color: #2074c8;
}

.theme-search-container {
  width: 960px;
  margin: 0 auto;
}

.theme-search-container > header {
  text-align: center;
}

.theme-search-container .theme-list .theme-item {
  width: 300px;
  height: 300px;
  float: left;
  box-sizing: border-box;
  margin-bottom: 30px;
  overflow: hidden;
}

.theme-search-container .theme-list .theme-item:nth-of-type(3n-1) {
  margin: 0 30px;
}

.theme-search-container .theme-list .theme-item > a {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.theme-search-container .theme-list .theme-item > a > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.theme-search-container .theme-list .theme-item > a > .img-bg {
  height: 100%;
  transition-duration: transform 0.3s, opacity 0;
}

.theme-search-container .theme-list .theme-item > a > .img-bg.pet {
  background-image: url("../images/pet.jpg");
}

.theme-search-container .theme-list .theme-item > a > .img-bg.officetel {
  background-image: url("../images/officetel.jpg");
}

.theme-search-container .theme-list .theme-item > a > .img-bg.pano {
  background-image: url("../images/pano.jpg");
}

.theme-search-container .theme-list .theme-item > a > .img-bg.parking {
  background-image: url("../images/parking.jpg");
}

.theme-search-container .theme-list .theme-item > a > .img-bg.guarantee {
  background-image: url("../images/guarantee.jpg");
}

.theme-search-container .theme-list .theme-item > a > .img-bg.direct {
  background-image: url("../images/direct.jpg");
}

.theme-search-container .theme-list .theme-item > a > .mask {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.theme-search-container .theme-list .theme-item > a > .text-container {
  color: white;
  text-align: center;
  padding: 0 10%;
  box-sizing: border-box;
  display: table;
  height: 100%;
}

.theme-search-container .theme-list .theme-item > a > .text-container > .cell {
  display: table-cell;
  vertical-align: middle;
}

.theme-search-container .theme-list .theme-item > a > .text-container > .cell > hr.theme-item-line {
  width: 20%;
}

.theme-search-container .theme-list .theme-item > a:hover > .img-bg {
  transform: scale(1.1);
  opacity: 0.6;
}

.banner-container ul.banner-list li {
  height: 100px;
}

.banner-container ul.banner-list li.event1 {
  background-color: #266bc2;
}

.banner-container ul.banner-list li > a {
  display: block;
  height: 100%;
}

.banner-container ul.banner-list li > a > .banner-img {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
}

.banner-container ul.banner-list li > a > .banner-img.event1 {
  background-image: url("../images/event.png");
}
