$color-text-anchor: #585858;
$color-bg-main-search: #cbd5c4;
$color-bg-main-search-btn: #3b8de0;
$color-bg-main-search-btn-hover: #2074c8;
$length-header-height: 61px;

html, body {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $color-text-anchor;
}
ul, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.clearfix {
  &::after {
    content: '';
    height: 0;
    display: block;
    clear: both;  
  }
}

header.top-header {
  height: $length-header-height;
  border-bottom: 1px solid #eee;
  
  // 하위 nav, .header-menu, li, li > a 요소가 전부 같은 height를 갖도록 함
  > nav {
    height: $length-header-height;
    > .header-menu {
      height: $length-header-height;
      
      // ListItem들은 float: left속성으로 가로정렬
      // line-height와 height를 같게하여 수직 중앙 정렬
      li {
        height: $length-header-height;
        line-height: $length-header-height;
        float: left;
        
        // 로고 이미지 위치는 수동으로 조절
        .img-logo {
          margin-left: 20px;
          margin-top: 16px;
          margin-right: 20px;
        }
        
        // li의 자식 요소인 a들은 height값을 가지며, 
        // a요소는 원래 inline이므로 높이값을 갖기 위해 display속성을 inline-block으로 변경
        > a {
          height: $length-header-height;
          display: inline-block;
        }
      }
      
      // .header-menu.header-menu-left는 float: left
      &.header-menu-left {
        float: left;
        
        // 좌측 메뉴의 아이템들은 각각 좌우 패딩을 8px씩 가짐
        li {
          padding: 0 8px;
        }
      }
      // .header-menu.header-menu-right는 float: right
      &.header-menu-right {
        float: right;
        
        // 우측메뉴의 아이템들은 각각 좌우 패딩을 8px씩 가짐
        li > a {
          padding: 0 8px;
        }
        
        > .right-sub-menu {
          float: left;
        }
        > .header-right-menu1 {
          margin-right: 20px;
        }
      }
    }
  }
}
.main-search-container {
  position: relative;
  width: 100%;
  height: 678px;
  background-color: $color-bg-main-search;
  
  > .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main_search_bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
  }
  > .img-hyeri {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main_search_img.png');
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  > .input-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.6);
  }
  > .input-container {
    position: absolute;
    bottom: 0;
    // left: calc(50% - (434px + 100px) / 2);
    left: 50%;
    transform: translateX(-50%);
    height: 110px;
    padding-top: 30px;
    box-sizing: border-box;
    
    > input, button {
      float: left;
      height: 50px;
      border: none;
      box-sizing: border-box;
    }
    > input {
      width: 434px;
      padding: 0 20px;
      font-size: 14px;
      line-height: 50px;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
    > button {
      width: 100px;
      font-size: 15px;
      background-color: $color-bg-main-search-btn;
      color: white;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      transition-duration: 0.1s;
      
      &:focus {
        // outline: none;
      }
      &:hover {
        background-color: $color-bg-main-search-btn-hover;
      }
    }
  }
}

.theme-search-container {
  width: 960px;
  margin: 0 auto;
  
  > header {
    text-align: center;
  }
  
  .theme-list {
    .theme-item {
      width: 300px;
      height: 300px;
      float: left;
      box-sizing: border-box;
      margin-bottom: 30px;
      overflow: hidden;
      
      &:nth-of-type(3n-1) {
        margin: 0 30px;
      }
      
      > a {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 100%;
        
        > * {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        > .img-bg {
          height: 100%;
          transition-duration: 0.4s;
          
          &.pet {
            background-image: url('../images/pet.jpg');
          }
          &.officetel {
            background-image: url('../images/officetel.jpg');
          }
          &.pano {
            background-image: url('../images/pano.jpg');
          }
          &.parking {
            background-image: url('../images/parking.jpg');
          }
          &.guarantee {
            background-image: url('../images/guarantee.jpg');
          }
          &.direct {
            background-image: url('../images/direct.jpg');
          }
        }
        > .mask {
          height: 100%;
          background-color: rgba(0, 0, 0, 0.3);
        }
        > .text-container {
          color: white;
          text-align: center;
          
          padding: 0 10%;
          box-sizing: border-box;
          
          // top과 transform을 사용해 vertical-align middle조정
          // top: 50%;
          // transform: translateY(-50%);
          
          // display: table과 하위요소를 table-cell로 조정하여 vertical-align middle조정
          display: table;
          // height: 100%는 table로 display속성을 정할때만 필요
          height: 100%;
          
          > .cell {
            // 부모요소의 display속성이 table일 경우, 
            // 하위요소가 table-cell display속성을 가지며 
            // vertical-align: middle인 경우 
            // 부모요소에 맞추어 자식요소의 상하에 
            // 동일한 크기의 패딩이 생성되어 수직중앙정렬이 된다.
            display: table-cell;
            vertical-align: middle;
            
            > hr.theme-item-line {
              width: 20%;
            }  
          }
          
        }
        
        &:hover {
          > .img-bg {
            transform: scale(1.1);  
          }
          
          
        }
      }
    }
  }
}